.new-message { 
    span { font-size: 0.8rem; display: block; margin-bottom: 2px; }

    width: auto;
    padding: 8px 12px;
    background-color: red; 
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-right: 20px;

    float:left;
    clear: both;
}

.my-message {
    float: right !important;
    background-color: rgb(20, 126, 251);
//     -webkit-box-shadow: 0px 0px 3px 5px rgb(20, 126, 251);
// -moz-box-shadow: 0px 0px 3px 5px rgb(20, 126, 251);
// box-shadow: 0px 0px 3px 5px rgb(20, 126, 251); 
    color: white;
}

.message-update{
    color: white;
    text-align: center;
    font-size: 20px;
}